<nav class="main-nav horizontal-flex">
  <a href="/"
    ><img
      class="logo"
      src="/assets/images/logo.png"
      alt="logo of mastertask application"
  /></a>
  <ul class="horizontal-flex">
    <li><a href="">first link</a></li>
    <li><a href="">second link</a></li>
  </ul>
</nav>
