<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../public/assets/scripts/script.js" defer></script>
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    <title>Calendar</title>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <header></header>

        <div class="wrapper">
          <div class="calendar horizontal-flex">
            <div class="prev-month-btn">◀︎</div>
            <table>
              <caption>
                <span>Month</span>
              </caption>
              <tr class="row row-header">
                <th scope="col">Lu</th>
                <th scope="col">Ma</th>
                <th scope="col">Mi</th>
                <th scope="col">Ju</th>
                <th scope="col">Vi</th>
                <th scope="col">Sa</th>
                <th scope="col">Do</th>
              </tr>
              <tr class="row">
                <td id="1"></td>
                <td id="2"></td>
                <td id="3"></td>
                <td id="4"></td>
                <td id="5"></td>
                <td id="6"></td>
                <td id="7"></td>
              </tr>
              <tr class="row">
                <td id="8"></td>
                <td id="9"></td>
                <td id="10"></td>
                <td id="11"></td>
                <td id="12"></td>
                <td id="13"></td>
                <td id="14"></td>
              </tr>
              <tr class="row">
                <td id="15"></td>
                <td id="16"></td>
                <td id="17"></td>
                <td id="18"></td>
                <td id="19"></td>
                <td id="20"></td>
                <td id="21"></td>
              </tr>
              <tr class="row">
                <td id="22"></td>
                <td id="23"></td>
                <td id="24"></td>
                <td id="25"></td>
                <td id="26"></td>
                <td id="27"></td>
                <td id="28"></td>
              </tr>
              <tr class="row">
                <td id="29"></td>
                <td id="30"></td>
                <td id="31"></td>
                <td id="32"></td>
                <td id="33"></td>
                <td id="34"></td>
                <td id="35"></td>
              </tr>
              <tr class="row">
                <td id="36"></td>
                <td id="37"></td>
                <td id="38"></td>
                <td id="39"></td>
                <td id="40"></td>
                <td id="41"></td>
                <td id="42"></td>
              </tr>
            </table>
            <div class="next-month-btn">►</div>
          </div>
          <div class="day-event"></div>
        </div>
      </section>
    </main>
    <dialog id="AddTaskDialog">
      <form method="dialog">
        <fieldset class="vertical-flex">
          <legend>Añade titulo:</legend>
          <label><input type="text" name="task" /> </label>
          <label>Hora inicio:<input type="time" name="time-start" /> </label>
          <label>Hora final:<input type="time" name="time-end" /> </label
          ><button>Close</button>
        </fieldset>
      </form>
    </dialog>
    <footer></footer>
  </body>
</html>
