<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header class="header-main"><%- include('partials/header.ejs') %></header>
    <main>
      <section class="section-main">
        <h1>Hello to TASKS CALENDAR</h1>
        <p>With this app, you can add or remove tasks.</p>
        <p>
          Just log in if you have an account or sign up and create a new one!
        </p>
        <ul>
          <li>
            <a href="/signup">Sign up with us!</a>
          </li>
          <li><a href="/login">Log in!</a></li>
          <li>
            <a href="<%= calendarUrl %>">Go to calendar!</a>
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer"></footer>
  </body>
</html>
