<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header class="header-main"><%- include('partials/header.ejs') %></header>
    <main>
      <section class="section-main">
        <header><h1>Mastertask Calendar</h1></header>
        <form class="form-user" action="/signup" method="post">
          <h2>Register</h2>
          <div class="input-field">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter Username"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="password"
              name="password"
              id="password"
              required
              placeholder="Enter Password"
            />
          </div>
          <div class="input-field">
            <input
              type="password"
              name="password"
              id="passwordRepeated"
              placeholder="Repeat Password"
              required
            />
          </div>
          <div class="error-msg"><%= msg %></div>
          <button>
            <img
              class="icon icon-animated"
              src="/assets/images/icons8-join-64.png"
              alt="A join us icon"
            />Register
          </button>
        </form>
      </section>
      <section class="section-auth">
        <a href="/login">If you have an account, <span>log in!</span></a>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
